<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/stylesheet.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@600;900&family=Poppins:wght@400;500;600;700&display=swap"
    rel="stylesheet">

</head>

<section class="hero" id="home">
  <div class="container">
    <h2 class="h1 hero-title">POP ARTISTS</h2>
      <p class="hero-text">
        Explore NTF's from POP artists
      </p>
  </div>
</section>
<main>
    <section class="section explore" id="explore">
        <div class="container">
            <div class="title-wrapper">
                <h2 class="h2 section-title">Explore</h2>
            </div>

             <ul class="grid-list">
                {{!-- <li>
                    <div class="card explore-card">
                        <figure class="card-banner">
                            <a href="#">
                            <img src="{{image}}" width="600" height="600" alt="{{image.description}}" class="img-cover">
                            </a>
                        </figure>
                        
                        <h3 class="h3 artist-title">
                        <a href="">{{name}}</a>
                        </h3>

                        <div class="award">
                            <span class="awards">{{awards}}</span>
                        </div>
                    </div>
                </li> --}}
                  <li>
                        <div class="card explore-card">
                            <figure class="card-banner">
                                <a href="#">
                                    <img src="{{image}}" width="600" height="600" alt="" class="img-cover">
                                </a>
                            </figure>

                            <h3 class="h3 card-title">
                            <a href="#">{{name}}</a>
                            </h3>
                            <div class="award">
                                <span class="awards">Awards: {{awards}}</span>
                            </div>

                            <button class="btn">
                                <ion-icon name="bag-outline" aria-hidden="true"></ion-icon>
                                <span href="">Buy</span>
                            </button>
                        </div>
                    </li>
            </ul>
        </div>
    </section>
</main>

{{!-- {{else}}
<a href="/public/js/login.js">You must login first to view NFTs</a>
{{/if}}
{{#if loggedIn}}
<button id="logout" class="btn">Logout</button>
{{else}}
<a href="#" class="btn" nftunes-login="login">
    <ion-icon name="login-outline"></ion-icon>
    <span class="login" id="login">LogIn</span>
</a>
{{/if}} --}}
{{{body}}}
